# Ignore IDE junk.
/.idea/*
/.vscode/*
*.iml

# Ignore some legacy things.
/legacy-doc/*

# Ignore build files.
*.class
*.exe

# Ignore log files and other temp files.
/log/*
/config/setting/*
/replay/*
